<ul class="nav justify-content-center bg-light text-white">
  <li class="nav-item">
    <%= link_to "Recipe", recipes_path, class: 'nav-link'  %>
  </li>
</ul>

<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
